@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary: hsl(0 0% 95%);
  --accent: hsl(0 0% 100%);
  --text: hsl(0 0% 35%);
  --shadow: hsl(0 0% 90%);
  --secondary: hsl(250 50% 70%);
  --highlight: hsl(250 50% 77%);
}

* {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--text);
  background: var(--primary);
}

dialog {
  width: min(30em, 90vw);
  box-sizing: border-box;
  padding: 2em;
  margin: auto;
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 0.25em 0.5em var(--shadow);
  animation: scaleup 0.25s forwards ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input {
  padding-inline: 1em;
  padding-block: 0.75em;
  border: 0.1em solid var(--text);
  border-radius: 0.25em;
  cursor: pointer;
}

input:focus {
  outline: 0.1em solid var(--secondary);
  border-color: var(--secondary);
}

button {
  width: max-content;
  padding-inline: 2em;
  padding-block: 0.75em;
  border: none;
  border-radius: 0.25em;
  color: var(--accent);
  background: var(--secondary);
  cursor: pointer;
}

button:focus,
button:hover {
  outline: none;
  background: var(--highlight);
}

details {
  border: 0.1em solid var(--text);
  border-radius: 0.25em;
  overflow: clip;
  cursor: pointer;
}

details:has(:focus) {
  outline: 0.1em solid var(--secondary);
  border-color: var(--secondary);
}

details summary {
  padding-inline: 1em;
  padding-block: 0.75em;
  list-style: none;
  background: var(--primary);
}

summary:focus {
  outline: none;
}

details ul {
  padding-inline: 1em;
  padding-block: 0.75em;
  border-top: 0.1em solid var(--text);
  list-style: none;
}

b {
  color: var(--secondary);
}

.cards {
  width: min(60em, min(90vw, 90vh));
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(1em, min(1.5vw, 1.5vh));
}

.card {
  position: relative;
  aspect-ratio: 1;
  perspective: 1000px;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card[position="1"] .card__inside {
  transform: rotateY(180deg);
}

.card[state="1"] {
  cursor: default;
}

.card[state="1"] .card__back {
  box-shadow: 0 0.25em 0.5em var(--shadow), inset 0 0 1em var(--highlight);
}

.card__inside {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
  border-radius: min(0.25em, min(1.5vw, 1.5vh));
  box-shadow: 0 0.25em 0.5em var(--shadow), inset 0 0 1em transparent;
  font-size: min(4rem, min(6vw, 6vh));
}

.card__front {
  background: var(--secondary);
}

.card__back {
  transform: rotateY(180deg);
  background: var(--accent);
  transition: box-shadow 0.25s;
}

@keyframes scaleup {
  0% { opacity: 0.25; scale: 0.5 }
  100% { opacity: 1; scale: 1 }
}